<form>
  <!-- forms配列をループしてカスタムチェックボックスを生成します -->
  <div *ngFor="let form of forms">
    <app-custom-checkbox
      [(ngModel)]="form.isChecked"
      name="customCheckbox{{ form.id }}"
      [label]="form.userName"
      [color]="'pink'"
      [disabled]="form.id === 3"
      (valueChange)="onCheckboxChange($event, form.id)"
    >
    </app-custom-checkbox>
  </div>
</form>

<p>Form values:</p>
<ul>
  <li *ngFor="let form of forms">{{ form.userName }}: {{ form.isChecked }}</li>
</ul>

<!-- <app-custom-checkbox
  [(ngModel)]="値を連動させる"
  name="各チェックボックスに一意の名前を付けるために使用"
  [label]="チェックボックス横のテキスト"
  [disabled]="disabledとする際の条件"
  [color]="'$Colorsより選択'"
  (valueChange)="変更を受け取る関数"
>
</app-custom-checkbox> -->
